.redbox {
    width: 400px;
    height: 200px;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 50px;   
    font-size: 6em;     
}

.bluebox {
    width: 400px;
    height: 200px;
    background-color: blue;
    color: white;    
    text-align: center;
    padding-top: 50px;
    font-size: 6em;    
}

.greenbox {
    width: 400px;
    height: 200px;
    background-color: green;
    color: white;
    text-align: center;
    padding-top: 50px;    
    font-size: 6em;    
}

.blackbox {
    width: 400px;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px; 
}