<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>
                                Angular Expressions:
                            </h4>
                            <ul>
                                <li>
                                    Angular expressions are JavaScript-like code snippets that are mainly placed in interpolation bindings such as <span title="{{ attrBinding }}">{{ textBinding }}</span>, but also used directly in directive attributes such as ng-click="functionExpression()".
                                </li>
                                <li>
                                    Consectetur adipiscing elit
                                </li>
                                <li>
                                    Integer molestie lorem at massa
                                </li>
                                <li>
                                    Facilisis in pretium nisl aliquet
                                </li>
                                <li>
                                    Nulla volutpat aliquam velit
                                </li>
                                <li>
                                    Faucibus porta lacus fringilla vel
                                </li>
                                <li>
                                    Aenean sit amet erat nunc
                                </li>
                                <li>
                                    Eget porttitor lorem
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="tabbable" id="tabs-406721">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a ui-sref="expressions.example" data-toggle="tab">Section 1</a>
                                    </li>
                                    <li class="active">
                                        <a href="expressions.example" data-toggle="tab">Section 2</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div ui-view></div>
                                    <div class="tab-pane" id="panel-919247">
                                        <p>
                                            I'm in Section 1.
                                        </p>
                                    </div>
                                    <div class="tab-pane active" id="panel-776251">
                                        <p>
                                            I'm in Section 2.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
<h1>{{vm.title}}</h1>
<h1>{{vm.helloWorld}}</h1>  <!--helloWorld property is undefined in the current scope
<table>
    <thead>
    <tr>
        <th><h1>Expression</h1></th>
        <th><h1>Is valid?</h1></th>
        <th><h1>Value</h1></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="expression in vm.expressions">
        <td>
            <div class="redbox">
                <h1>{{expression.view}}</h1>
            </div>
        </td>
        <td ng-show="true">
            <div class="blackbox">
                <h1>{{expression.isValid}}</h1>
            </div>
        </td>
        <td ng-show="true">
            <div class="blackbox">
                <h1>{{expression.value}}</h1>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>-->
